<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products; let i=index">
      
        <td>{{i+1}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>
